


<% if @intention %>

	<div class="container" id="new">
	

	<%= form_for @intention, :html=> {:id => 'new_form'} do |f| %>

		<%= f.text_field :name, :autofocus=>true, class: "form-control input-lg", id: "new_int", placeholder: "What do you want to do?" %>


	</div>


	<% end %>

<% end %>

</div>


