<br>  


    <ul class="nav nav-tabs">
      <li class="active"><a href="/intentions"> <i class="glyphicon glyphicon-plus"></i></a></li>
      <li> <%= link_to current_user do %><i class="glyphicon glyphicon-user"></i><% end %></li>
    </ul>







<div class="container">


  <%= render 'intentions/new' %>




 <div class="row">

      <div class="col-md-4 col-sm-12" id="wizards">
        <div class="inner">
      
         <a href="bands/new">
         <div class="jumbotron">
        <h2>Start a band</h2>
         </div>
        </a>

        <a href="intentions/movie">
        <div class="jumbotron">
          <h2>Make a movie</h2>
        </div>
        </a>

        <a href="intentions/company">
        <div class="jumbotron">
          <h2>Start a company</h2>
        </div>
        </a>
      </div>
    </div>


      <div class="col-md-8 col-sm-12">


        <div class="container admin table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>People around you want to</th>
            </thead>
            <tbody>
              <% @intentions.each do |int| %>
                <tr>
                  <td rowspan="<% int.words.length %>"><a href="</intentions/<%=int[:id]%>"><%=int.name %></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>









  </div>












<br>
<br>













   


<br>
<br>
<br>















 



