<div class="above">
</div>



<%= render "new" %>








  
<div class="page-header">
  <h1>People in San Francisco want to...</h1>
</div>



    <div class="row">

      <% @intentions.reverse.each do |intention| %>

        <div class="col-xs-12 col-sm-6 col-md-3">

          <div class="thumbnail">
            <a href="/intentions/<%=intention[:id]%>">
            <h3><%=intention.name%></h3>
            </a>
          </div>
        </div>

      <% end %>

 



