	<br>  


    <ul class="nav nav-tabs">
      <li><a href="/intentions"> <i class="glyphicon glyphicon-plus"></i></a></li>
      <li class="active"><a href="/suggestions"> <i class="glyphicon glyphicon-ok"> </i></a></li>
      <li> <%= link_to current_user do %><i class="glyphicon glyphicon-user"></i><% end %></li>
    </ul>



<br>









	

