include SessionsHelper

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Intention Engine</a>
  </div>
  <div class="navbar-header navbar-right">
    <% if signed_in? %>
      <p class="navbar-text">
        <%= link_to "Me", current_user %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </p>
    <% else %>
      <p class="navbar-text">
        <%= link_to "Sign up", signup_path %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign in", signin_path %>
      </p>
    <% end %>
  </div>



</nav>

<br>
<br>
<br>
